h1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 266px;
  height: 44px;
  flex-shrink: 0;
  position: relative;
  top: 104px;
  left: 200px;
  bottom: 352px;
}

body {
  -webkit-app-region: drag;
  background-image: url("./assets/BG_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Navigation */

nav {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
  width: 700px;
  height: 50px;
  justify-content: space-between;
  background: #fff;
}

button {
  justify-content: center;
  width: 34px;
  height: 34px;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #918f8f;
}

button img {
  width: 24px;
  height: 24px;
}

.history-popup {
  display: flex;
  width: 184px;
  height: 500px;
  padding: 0px 136px 466px 14px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

/* tagline */
p {
  position: relative;
  top: 125px;
  left: 130px;
  width: 500px;
  height: 23px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* search bar */

.search-bar {
  display: inline-flex;
  position: relative;
  height: 40px;
  top: 250px;
  left: 68px;
  right: 68px;
  gap: 228px;
  border-radius: 25px;
  border: 2px solid #fff;
}

#Word {
  font-family: Montserrat;
  margin: auto;
  right: 225px;
  top: 10px;
  width: 300px;
  height: 19px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  position: relative;
}

.search-bar .search-icon {
  display: flex-end;
  position: relative;
  align-items: right;
  top: 10px;
  left: 500px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

/* Page 2 */

/* Border */
.border {
  visibility: visible;
  position: absolute;
  top: 125px;
  left: 50px;
  right: 50px;
  bottom: 25px;
  width: 600px;
  height: 450px;
  border-radius: 15px;
  border: 1px solid #fff;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.moved {
  top: -80px;
  bottom: 675px;
  transition: all 0.5s ease-out;
}
.BodyText {
  visibility: visible;
}

.passive {
  visibility: hidden;
}

#word {
  position: relative;
  top: 5px;
  left: 10px;
  right: 170px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#pronunciation {
  position: relative;
  top: 25px;
  left: 23px;
  right: 262px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

#split {
  position: relative;
  top: 50px;
  left: 23px;
  right: 262px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

#root {
  position: relative;
  left: 23px;
  right: 262px;
  top: 50px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

#synonyms > li {
  display: inline-block;
  margin: 0 5px;
  position: relative;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

#synonyms {
  position: relative;
  top: 25px;
  right: 20px;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: Bold;
  font-weight: 700;
  line-height: normal;
}

#meaning {
  top: 25px;
  left: 23px;
  position: relative;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: Bold;
  font-weight: 800;
  line-height: normal;
}

#meaning > li {
  top: -40px;
  width: 500px;
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#POS {
  display: inline-block;
  position: relative;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: Bold;
  font-weight: 800;
  line-height: normal;
}
